@import "compass/typography";
$headerColor : #1c1c1c;
$headerActiveColor : #2F4F4F;

header.navbar-mynav{
	background-color: $headerColor !important;
	border-color: $headerActiveColor !important;
}
button.navbar-toggle{
	>.icon-bar{
		background-color: $headerActiveColor !important;
	}
}
.navbar-brand{
	color: white !important;
}

.navbar-nav{
	@media (min-width: 768px){
		float: right ;
	}
	
	>li>a{
		color: white !important;
	}
	>.active>a{
		background-color: $headerActiveColor !important;
	}
}