@import "compass/reset";
@import "compass/typography";
@import "compass/css3";
//全部分割线颜色
$splitColor : #848484;
$split2Color : #D8D8D8;
//小屏幕
$screen-sm : 768px;
//中屏幕
$screen-md : 992px;
//大屏幕
$screen-lg : 1200px;
body{
	background-image: image-url('background.png');
}

//徽章选择器
@mixin articleBadge($backColor : red,$fontColor : white){
  margin-left:5px;
  color: $fontColor;
  padding: 2px;
  font-size: 0.8em;
  background-color: $backColor;
  @include border-radius(5px);
}
//转载徽章
span.reprintedBadge{
  @include articleBadge();
}
//学习徽章
span.learnBadge{
  @include articleBadge(#4e72b8);
}
//生活徽章
span.lifeBadge{
  @include articleBadge(#40835e);
}
//图书徽章
span.bookBadge{
  @include articleBadge(#2f271d);
}